<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'eve.css'%}">
</head>
<body>
    <div class="title"> <h1>Event Drive</h1></div>
    <div class=" box">
        <div class="card">
          <img src="{%static 'event1.jpg'%}" class="card-img-top" width="400" height="450">
          
            <h5 class="card-title"><bold>DONATION DRIVE</bold></h5>
        </div>
        <div class="card">
            <img src="{%static 'event2.png'%}" class="card-img-top"width="400" height="450">
            
              <h5 class="card-title">Walkthon</h5>
          </div>
          <div class="card">
            <img src="{%static 'event3.png'%}" class="card-img-top"width="400" height="450">
            
              <h5 class="card-title">RID RIBBON CLUD</h5>
          </div>
          <div class="card">
            <img src="{%static 'event4.png'%}" class="card-img-top"width="400" height="450">
            
              <h5 class="card-title">CYBER CRIME</h5>
          </div>
          <div class="card">
            <img src="{%static 'event5.jpg'%}" class="card-img-top"width="400" height="450">
            
              <h5 class="card-title">UPGRADE YOURSELF </h5>
          </div>
          <div class="card">
            <img src="{%static 'event6.jpg'%}" class="card-img-top"width="400" height="450">
            
              <h5 class="card-title">IDEATHON </h5>
          </div>
          <div class="card">
            <img src="{%static 'event7.jpg'%}" class="card-img-top"width="400" height="450">
            
              <h5 class="card-title">IPR AWARENESS</h5>
          </div>
          <div class="card">
            <img src="{%static 'event8.jpg'%}" class="card-img-top"width="400" height="450">
            
              <h5 class="card-title">REVEIW YOUR CHILDHOOD </h5>
          </div>
          <div class="card">
            <img src="{%static 'event10.jpg'%}" class="card-img-top"width="400" height="450">
            
              <h5 class="card-title">COMPUS TO CORPORATE</h5>
          </div>

    </div>

</body>
</html>