<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{%static 'Sy.css'%}">
</head>
<body>

 <!--<div class="logo">
    
    <div class="image"><img src="{%static 'logo.png.png'%}" width="1120" height="72">
    </div>-->
    <h2>Welcome to Banarsidas Chandiwala Institute of Information and Technology </h2>
    <div class = 'container'>
        <div class ='box'>
            <button class="b" type="button" class="btn"width="120" height="42"><a href="/two"><bold>Staff_Information</bold></a> </button>
            <button class="b" type="button" class="btn"><a href="/three">Student info</a> </button>
            <button class="b"type="button" class="btn"><a href="/four">Event Info</a> </button>
            
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 BCIIT All rights reserved.</p>
</footer>
</body>
</html>