<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'img.css'%}">
    
</head>
<header><div class="head"><h1>WELCOME TO STAFF INFORMATION</h1></div>
</header>
   
  <div class=" box">
   <div class="card">
     <img src="{%static 'ANU.jpg'%}" class="card-img-top"width="220" height="180">
     
       <h5 class="card-title"><a href= "https://www.bciit.ac.in/member-profile-detail.php?faculty=2">Dr. Anu Taneja</a></h5>
   </div>
   <div class="card">
     <img src="{%static 'DJANGO.jpg'%}" class="card-img-top"width="220" height="180">
     
       <h5 class="card-title"><a href= "https://www.bciit.ac.in/member-profile-detail.php?faculty=13">Mr. Alok Mishra</a></h5>
   </div>
   <div class="card">
     <img src="{%static 'JAVA.png'%}" class="card-img-top"width="220" height="180">
     
       <h5 class="card-title"><a href="https://www.bciit.ac.in/member-profile-detail.php?faculty=8">Meetender</a></h5>
   </div>
   <div class="card">
     <img src="{%static 'DM.jpg'%}" class="card-img-top"width="220" height="180">
     
       <h5 class="card-title"><a href="https://www.bciit.ac.in/member-profile-detail.php?faculty=6">Ms. Sonia Batra</a></h5>
   </div>
   <div class="card">
     <img src="{%static 'SE.jpg'%}" class="card-img-top" width="220" height="180"">
     
       <h5 class="card-title"><a href="https://www.bciit.ac.in/member-profile-detail.php?faculty=16">Ms Mansi Vats</a></h5>
   </div>
   <div class="card">
     <img src="{%static 'mca.jpg'%}" class="Dr. Sushma Bahuguna"width="220" height="180">
     
       <h5 class="card-title"><a href="https://www.bciit.ac.in/member-profile-detail.php?faculty=1">Dr. Sushma Bahuguna</a></h5>
   </div><div class="card">
     <img src="{%static 'placement.png'%}" class="card-img-top"width="220" height="180">
     
       <h5 class="card-title"><a href="https://www.bciit.ac.in/member-profile-detail.php?faculty=4">Mr. Sandeep Jain</a></h5>
   </div><div class="card">
     <img src="{%static 'data.jpg'%}" class="card-img-top"width="220" height="180">
     
       <h5 class="card-title"><a href="https://www.bciit.ac.in/member-profile-detail.php?faculty=14">Dr. Shalini Gambhir</a></h5>
   </div>
   <div class="card">
     <img src="{%static 'python.jpg'%}" class="card-img-top"width="220" height="180">
     
       <h5 class="card-title"><a href="https://www.bciit.ac.in/member-profile-detail.php?faculty=9">Ms. Smriti Sharma</a></h5>
   </div>
   <div class="card">
       <img src="{%static 'coa.jpg'%}" class="card-img-top"width="220" height="180">
       
         <h5 class="card-title"><a href="https://www.bciit.ac.in/member-profile-detail.php?faculty=15">Ms Gomathy M</a></h5>
     </div>
     <div class="card">
       <img src="{%static 'php.jpg'%}" class="card-img-top"width="220" height="180">
       
         <h5 class="card-title"><a href="https://www.bciit.ac.in/member-profile-detail.php?faculty=11">Mr Akshit Thakur</a></h5>
     </div>
     <div class="card">
      <img src="{%static 'rcb.jpg'%}" class="card-img-top"width="220" height="180">
      
        <h5 class="card-title"><a href="https://www.bciit.ac.in/member-profile-detail.php?faculty=12">Mr. Keshav Kaushik</a></h5>
    </div>
    <div class="card">
      <img src="{%static 'evs.jpg'%}" class="card-img-top"width="220" height="180">
      
        <h5 class="card-title">Mr. Kamal Chandel</h5>
    </div>
    </div>
    
 
   </div>
   <footer>
    <p>&copy; 2024 BCIIT All rights reserved.</p>
</footer>
</body>
</html>