<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'image.css'%}">
    
</head>
<body>
  <div><h1>WELCOME to Student Information</h1></div>
   
   <div class=" box">
    <div class="card">
      <img src="{%static 'nuso.jpg'%}" class="card-img-top"width="220" height="180">
      
        <h5 class="card-title">Sonu Jha</h5>
    </div>
    <div class="card">
      <img src="{%static 'sahil.png'%}" class="card-img-top"width="220" height="180">
      
        <h5 class="card-title">Sahil Singh Bisht</h5>
    </div>
    <div class="card">
      <img src="{%static 'vinu.png'%}" class="card-img-top"width="220" height="180">
      
        <h5 class="card-title">vineet Singh Bisht</h5>
    </div>
    <div class="card">
      <img src="{%static 'vaibhav.png'%}" class="card-img-top"width="220" height="180">
      
        <h5 class="card-title">Vaibhav Raj</h5>
    </div>
    <div class="card">
      <img src="{%static 'mit.jpg'%}" class="card-img-top" width="220" height="180"">
      
        <h5 class="card-title">Mitesh Vaid</h5>
    </div>
    <div class="card">
      <img src="{%static 'him.jpg'%}" class="card-img-top"width="220" height="180">
      
        <h5 class="card-title">Himanshu Jha</h5>
    </div>
    <div class="card">
      <img src="{%static 'sun.jpg'%}" class="Dr. Sushma Bahuguna"width="220" height="180">
      
        <h5 class="card-title">Sunny Singh</h5>
    </div><div class="card">
      <img src="{%static 'anj.jpg'%}" class="card-img-top"width="220" height="180">
      
        <h5 class="card-title">Anajali</h5>
    </div><div class="card">
      <img src="{%static 'priya.png'%}" class="card-img-top"width="220" height="180">
      
        <h5 class="card-title">Priya Sisodiya</h5>
    </div>
    <div class="card">
      <img src="{%static 'aish.png'%}" class="card-img-top"width="220" height="180">
      
        <h5 class="card-title">Aishwarya </h5>
    </div>
    <div class="card">
        <img src="{%static 'diksha.png'%}" class="card-img-top"width="220" height="180">
        
          <h5 class="card-title">Diksha Bandhuni</h5>
      </div>
      <div class="card">
        <img src="{%static 'ankit.png'%}" class="card-img-top"width="220" height="180">
        
          <h5 class="card-title">Ankit Raj</h5>
      </div>
      <div class="card">
        <img src="{%static 'aditiya.png'%}" class="card-img-top"width="220" height="180">
        
          <h5 class="card-title">Aditiya Pandey</h5>
      </div>
  
  <div class="card">
    <img src="{%static 'yash.png'%}" class="card-img-top"width="220" height="180">
    
      <h5 class="card-title">Yashwant Birst</h5>
  </div>

  <div class="card">
    <img src="{%static 'tanmey.jpg'%}" class="card-img-top"width="220" height="180">
    
      <h5 class="card-title">Tanmey Bali</h5>
  </div>

  <div class="card">
    <img src="{%static 'vipul.png'%}" class="card-img-top"width="220" height="180">
    
      <h5 class="card-title">Vipul</h5>
  </div>

  <div class="card">
    <img src="{%static 'shivam.png'%}" class="card-img-top"width="220" height="180">
    
      <h5 class="card-title">Shivam Kumar Jha </h5>
  </div>

</div>



</body>
</html>
